        .main {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
        }

        .content-container {
            background-color: white;
            padding: 40px 60px;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 900px;
            text-align: center;
        }

        
        .edit-records {
            margin-top: 15px;
            padding: 10px;
            background-color: rgb(42, 153, 42);
            border: none;
            border-radius: 8px;
            font-weight: 700;
            color: white;
            cursor: pointer;
        }

        .student-record {
            display: none;
            text-align: left;
            margin: 30px 0;
        }

        .student-record.active {
            display: block;
        }

        .student-record p {
            font-weight: bold;
        }

        .student-record h1 {
            font-size: 30px;
            font-weight: 700;
        }


        .student-record button {
            padding: 10px;
            background-color: rgb(216, 52, 52);
            border: none;
            border-radius: 8px;
            color: white;
            display: block;
            margin-left: auto;
            margin-right: 0;
            cursor: pointer;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
        }

        th, td {
            padding: 12px 15px;
            border: 1px solid #ddd;
            text-align: center;
        }

        th {
            background-color: #cb6ce6;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f9e4ff;
        }

        .pagination-buttons {
            margin-top: 20px;
        }

        .pagination-buttons button {
            padding: 10px 20px;
            margin: 0 5px;
            background-color: #8C52FF;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
        }

        .pagination-buttons button:disabled {
            background-color: #ccc;
            cursor: default;
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
        }